body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
  }



  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #268E38;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #268E38;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #268E38 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  #main_logo {
    padding-top: 40px;
    padding-right:120px;
    padding-bottom: 50px;
  }

  #password_input {
    padding-top:10px;
  }

#sign_buttons {
  padding-top: 10px;
}

form button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   position: absolute; 
   top: 160px; 
   left: 50px; 
   width: 100%; 
}